body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
    height: 3000px;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/* 头部 */

.app {
    height: 45px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #333333;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

/* 图片和文字基线对齐 要垂直居中 */

.app ul li:nth-child(2) img {
    vertical-align: middle;
    width: 30px;
}

.app ul li:nth-child(3) {
    font-size: 14px;
    color: #fff;
    width: 57%;
}

.app ul li:nth-child(4) {
    color: #fff;
    background-color: #F63515;
    width: 25%;
}

/* 搜索 */

.search-wrap {
    /* 这里用固定定位 */
    overflow: hidden;
    position: fixed;
    height: 44px;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
}

.search-btn, .search-login {
    width: 40px;
    height: 44px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.search-btn::before {
    display: block;
    content: "";
    width: 20px;
    height: 18px;
    background: url(../images/下载.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    line-height: 44px;
    color: #fff;
}

.middle {
    position: relative;
    margin: 7px 50px 0;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
}

.jd-icon {
    position: absolute;
    left: 13px;
    top: 8px;
    width: 20px;
    height: 15px;
    background: url(../images/jd.png);
    background-size: 20px 15px;
}

.jd-icon::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 0px;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #cccccc;
}

.sou {
    position: absolute;
    top: 8px;
    left: 46px;
    width: 18px;
    height: 15px;
    /* 2倍精灵图做法 */
    background: url(../images/jd-sprites.png) no-repeat -84px 0;
    background-size: 200px auto;
}

.slider img {
    width: 100%;
}

.middle input {
    position: absolute;
    left: 68px;
    top: 0;
    border: 0;
    line-height: 16px;
    padding-top: 7px;
    outline: none;
}

/* 蔡康永 */

.brand div {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    float: left;
    width: 33.333333%;
}

.brand div img {
    width: 100%;
}

.nav a {
    float: left;
    text-align: center;
    width: 20%;
}

.nav img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.nav span {
    margin-top: 6px;
    display: block;
    color: #666;
}

/* 新闻 */

.news a {
    box-sizing: border-box;
    float: left;
}

.news a:nth-child(1) {
    width: 50%;
}

/* .news a:nth-child(2) ,.news a:nth-child(3){
    width: 25%;
} */

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #cccccc;
}

.news a img {
    width: 100%;
}
.tuijian img{
    width: 100%;
}
.tuijian-bd a{
    float: left;
    width: 50%;
}
.tuijian-bd a img{
    width: 100%;
}
.tuijian-bd a span{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0 3px;
    padding: 0 4px;
}
.tuijian-bd a span img{
    width: 45px;
    height: 13px;
}

.tuijian-bd a p span{
    color: red;

}

.tuijian-bd a p span strong{
    font-size: 16px;
}
.tuijian-bd a p span:nth-child(2){
    border: 1px solid red;
    margin-left: 6px;
}
.tuijian-bd a p{
    position: relative;
}

.tuijian-bd a p span button{
    position: absolute;

    right: 4px;
}
