div {
  background-color: pink;
  width: 200px;
  height: 300px;
}
div span {
  font-size: 14px;
  color: deeppink;
}
div::before {
  content: "";
}
nav {
  width: 100px;
  height: 200px;
  background-color: blue;
  margin-top: 100px;
}
nav a {
  font-size: 16px;
  text-decoration: none;
  color: pink;
}
nav a:hover {
  color: deeppink;
  font-size: 20px;
}
